@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="intro-container">
        <video class="collage-video" src="/videos/SpinDaBaby.MOV" autoplay muted></video>
        <!-- Add more clips as needed -->
        <button id="skipBtn">Skip</button>
    </div>
}   <script>
        document.getElementById("skipBtn").addEventListener("click", function () {
        window.location.href = "/Home/Homepage";
        });
    </script>
